<div class="bg-slate-800 flex flex-col items-center w-full text-white gap-4">
  <header class="h-screen container py-16">
    <div class="bg-cyan-500 text-white grid grid-cols-1 grid-rows-3 place-items-center w-full h-full">
      <div class="row-start-2">
        <h1 class="text-6xl font-extrabold">
          darkhappy
        </h1>
        <span class="text-4xl font-bold text-gray-300">
          aspiring full-stack developer
        </span>
      </div>
      <ul class="flex flex-col md:flex-row justify-center items-center w-2/3 row-start-3 text-2xl gap-2 md:gap-8">
        <li>
          <a>about</a>
        </li>
        <li>
          <a>projects</a>
        </li>
        <li>
          <a>links</a>
        </li>
        <li>
          <a>contact</a>
        </li>
      </ul>
    </div>
  </header>
  <div class="container grid lg:grid-cols-6 gap-8 align-middle">
    <section class="bg-slate-700 px-8 md:px-16 py-8 lg:col-span-3 xl:col-span-2 font-medium flex flex-col" id="about">
      <span class="font-mono text-gray-500">#about</span>
      <div class="my-4">
        <h2 class="font-bold text-2xl">About Me</h2>
      </div>
      <p class="font-medium text-xl my-2">I'm Jean-Philippe, but you might know me as <span
        class="font-bold text-cyan-500">darkhappy.</span></p>
      <p class="my-2">
        I'm a College Student in Quebec that's currently taking Computer Sciences classes. In my free time, I tend to
        code personal projects, play video games and watch anime.
      </p>
      <p class="my-2">
        I am most comfortable with <span class="font-bold text-cyan-500">TypeScript and Go.</span> However, I
        have tried my hand at many other languages and frameworks throughout my time in college.
      </p>
      <p class="my-2 self-end">
        Feel free to look at my <a href="#projects" class="text-cyan-500">projects</a> to see what I have worked on!
      </p>
    </section>
    <section class="bg-slate-700 px-8 md:px-16 py-8 lg:col-span-3 xl:col-span-4" id="skills">
      <p class="font-mono font-medium text-lg text-gray-500">#skills</p>
      <h2 class="font-bold text-2xl my-2">Skills</h2>
      <p class="font-medium text-md mb-4">I have developed a wide range of skills throughout my time in college. Here
        are some that I am most comfortable with.
      </p>
      <div class="grid md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 gap-6">
        <div>
          <h3 class="font-bold text-xl">Spoken Languages</h3>
          <ul>
            <li>French</li>
            <li>English</li>
          </ul>
        </div>
        <div>
          <h3 class="font-bold text-xl">Programming Languages</h3>
          <ul>
            <li>JavaScript (ES6)</li>
            <li>TypeScript</li>
            <li>Go</li>
            <li>Dart</li>
            <li>PHP</li>
          </ul>
        </div>
        <div>
          <h3 class="font-bold text-xl">Frameworks</h3>
          <ul>
            <li>Angular</li>
            <li>React</li>
            <li>Flutter</li>
            <li>TailwindCSS</li>
            <li>Bootstrap</li>
          </ul>
        </div>
        <div>
          <h3 class="font-bold text-xl">Technologies</h3>
          <ul>
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>Firebase</li>
            <li>Express.js</li>
            <li>Node</li>
          </ul>
        </div>
        <div>
          <h3 class="font-bold text-xl">Tools</h3>
          <ul>
            <li>Git</li>
            <li>GitHub</li>
            <li>Bash</li>
            <li>Google Cloud Platform</li>
            <li>Microsoft Azure</li>
          </ul>
        </div>
        <div>
          <h3 class="font-bold text-xl">Miscellaneous</h3>
          <ul>
            <li>Unix Systems</li>
            <li>Microsoft Office</li>
            <li>Trello</li>
            <li>Scrum</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="bg-slate-700 px-8 md:px-16 py-8 lg:col-span-3 font-medium text-lg" id="experience">
      <p class="font-mono text-gray-500">#experience</p>
      <h2 class="font-bold text-2xl my-3">Experience</h2>
      <p>
        Something something about having experience
      </p>
    </section>
    <section class="bg-slate-700 px-8 md:px-16 py-8 lg:col-span-3 font-medium text-lg" id="social-media">
      <p class="font-mono text-gray-500">#social-media</p>
      <h2 class="font-bold text-2xl my-3">Social Media</h2>
      <p>
        Something something about social media
      </p>
    </section>
    <button class="bg-cyan-500 text-black px-4 py-2 rounded-md lg:col-span-2">Contact Me</button>
    <button class="bg-cyan-500 text-black px-4 py-2 rounded-md lg:col-span-2">View my projects</button>
    <button class="bg-cyan-500 text-black px-4 py-2 rounded-md lg:col-span-2">View my resume</button>
  </div>
</div>
