<div class="bg-slate-800 flex flex-col items-center w-full text-white md:gap-4">
  <header class="h-screen w-full md:p-16">
    <div class="bg-cyan-500 text-white grid grid-cols-1 grid-rows-3 place-items-center w-full h-full">
      <div class="row-start-2">
        <h1 class="text-6xl font-extrabold">
          darkhappy
        </h1>
        <span class="text-4xl font-bold text-gray-300">
          some cool tag that changes every second
        </span>
      </div>
      <button (click)="scrollDown()" class="row-start-3 text-2xl font-bold">
        learn more
      </button>
    </div>
  </header>
  <div class="container grid lg:grid-cols-6 gap-8 align-middle" id="content">
    <div
      class="grid grid-cols-1 md:grid-cols-3 lg:auto-cols-auto lg:grid-cols-none md:grid-flow-col gap-4 lg:col-span-6">
      <div *ngFor="let social of socialMedia">
        <app-social-media-card [social]="social"></app-social-media-card>
      </div>
    </div>
    <section class="lg:col-span-3 xl:col-span-2" id="about">
      <span class="font-mono text-gray-500">#about</span>
      <h2>About Me</h2>
      <p class="font-medium text-xl my-2">I'm Jean-Philippe, but you might know me as <span
        class="font-bold text-cyan-500">darkhappy.</span></p>
      <p class="my-2">
        I'm a College Student in Quebec that's currently taking Computer Sciences classes. In my free time, I tend to
        code personal projects, play video games and watch anime.
      </p>
      <p class="my-2">
        I am most comfortable with <span class="font-bold text-cyan-500">TypeScript and Go.</span> However, I
        have tried my hand at many other languages and frameworks throughout my time in college.
      </p>
      <p class="my-2 self-end">
        Feel free to look at my <a href="#projects" class="text-cyan-500">projects</a> to see what I have worked on!
      </p>
    </section>
    <section class="lg:col-span-3 xl:col-span-4" id="skills">
      <span class="font-mono font-medium text-lg text-gray-500">#skills</span>
      <h2>Skills</h2>
      <p class="font-medium text-md mb-4">I have developed a wide range of skills throughout my time in college. Here
        are some that I am most comfortable with.
      </p>
      <div class="grid md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 gap-6 skills-list">
        <div>
          <h3>Spoken Languages</h3>
          <ul>
            <li>French</li>
            <li>English</li>
          </ul>
        </div>
        <div>
          <h3>Programming Languages</h3>
          <ul>
            <li>JavaScript (ES6)</li>
            <li>TypeScript</li>
            <li>Go</li>
            <li>Dart</li>
            <li>PHP</li>
          </ul>
        </div>
        <div>
          <h3>Frameworks</h3>
          <ul>
            <li>Angular</li>
            <li>React</li>
            <li>Flutter</li>
            <li>TailwindCSS</li>
            <li>Bootstrap</li>
          </ul>
        </div>
        <div>
          <h3>Technologies</h3>
          <ul>
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>Firebase</li>
            <li>Express.js</li>
            <li>Node</li>
          </ul>
        </div>
        <div>
          <h3>Tools</h3>
          <ul>
            <li>Git</li>
            <li>GitHub</li>
            <li>Bash</li>
            <li>Google Cloud Platform</li>
            <li>Microsoft Azure</li>
          </ul>
        </div>
        <div>
          <h3>Miscellaneous</h3>
          <ul>
            <li>Unix Systems</li>
            <li>Microsoft Office</li>
            <li>Trello</li>
            <li>Scrum</li>
          </ul>
        </div>
      </div>
    </section>
    <button class="lg:col-span-6 bg-cyan-500 p-8 text-2xl font-bold">View my projects</button>
  </div>
</div>
